# Dependências
/node_modules

# Diretórios de build e distribuição
/dist
/build
/lib
/out

# Arquivos de cache do compilador e da transpilação
/.tscache
/.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Cobertura de testes
/coverage
/.nyc_output

# Diretórios e arquivos de configuração do editor
/.vscode
/.idea
*.sublime-workspace
*.sublime-project

# Outros arquivos e diretórios
.DS_Store
Thumbs.db
